<div class="container mt-5 pt-4">
    <!-- Botón para mostrar/ocultar formulario -->
    <button class="btn btn-primary mt-4" (click)="toggleForm()">
      {{ showForm ? 'Cerrar Formulario' : 'Crear Nuevo Pedido' }}
    </button>
  
    <h1 class="text-center text-primary mt-4">Listado de Pedidos</h1>
  
    <!-- Tabla para listar vuelos -->
    <div class="table-responsive mt-3">
      <table class="table table-striped table-hover text-center shadow-sm">
        <thead class="bg-primary text-white">
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Fecha de creacion</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos; let i = index">
            <td>{{i + 1}}</td>
            <td hidden>{{pedido.id}}</td>
            <td>{{pedido.cliente.nombre}}</td>
            <td>{{pedido.total}}</td>
            <td>{{pedido.fechaCreacion}}</td>
            <td>{{pedido.estado}}</td>
            <td>
              <button class="btn btn-warning btn-sm me-2" (click)="editPedido(pedido)">
                Editar
              </button>
              <button class="btn btn-danger btn-sm" (click)="deletePedido(pedido.id!)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  